<div class="row header bg-1">
    <div class="col-12 d-flex justify-content-between align-items-center header-right">
        <div class="logo-container ml-3">
            <img src="../../assets/imgs/logo.png" class="logo" />
        </div>
        <div class="d-flex">
            <div class="group-container mr-4">
                <label class="mr-3 fc-2">Grupo Econômico:</label>
                <select class="select-custom fc-3">
                    <option>Visão Agregada 1</option>
                    <option>Visão Agregada 2</option>
                    <option>Visão Agregada 3</option>
                </select>
            </div>
            <div class="profile-container d-flex align-items-center bg-2">
                <label class="fc-1 py-3 px-4 mb-0">
                    <fa-icon class="fc-1 mr-2" [icon]="['fas', 'user']"></fa-icon> Sandra Oliveira <fa-icon class="fc-1 ml-3" [icon]="['fas', 'chevron-down']"></fa-icon>
                </label>
                <div class="notifications d-flex justify-content-center align-items-center bg-4">
                    <fa-icon class="fc-1" [icon]="['fas', 'bell']"></fa-icon>
                    <span class="count fc-1 regular">3</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row breadcrumbs mt-4 ml-0">
    <div class="col-12">
        <ul class="p-0">
            <li><a href="#" class="fc-4">Página Inicial</a></li>
            <li>></li>
            <li><a href="#" class="fc-4">Painel de Gestão</a></li>
        </ul>
    </div>
</div>
